/* Eric Meyer's Reset */
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, :before, :after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	outline: none;
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 10px;

}
/*font face*/
body {
	font-size:100%;
	font-family: 'dinbold';
	line-height: 1.2;
	color:#000;
	background: #fff;
}
ul, ol{
	list-style-type: none;
}
img{
	max-width: 100%;
	height: auto;
}
p{
	font-family: 'Bembo Std';
	font-weight: 400;
	font-size: 1.6rem;
}
body img {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;
  user-select: none;          
}
figure{
	margin-bottom: 0;
	margin: 0;
}
*:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*
 2.0.1) Font Face
 -----------------------------*/
/*Put Your font face Styles here*/
@font-face {
    font-family: 'dinbold';
    src: url('../fonts/din_bold-webfont.woff2') format('woff2'),
         url('../fonts/din_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bembo Std';
    src: url('../fonts/BemboStd-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/BemboStd-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Bembo Std';
    src: url('../fonts/BemboStd.woff2') format('woff2'),
        url('../fonts/BemboStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*
 2.0.3) Form Elements
 -----------------------------*/
button, input, optgroup, select, textarea {
	margin: 0;
	padding: 0;
	font-size: 100%;
	color: inherit;
	background: #fff;
	border: 1px solid #ccc;
	font-family: 'Source Sans Pro', sans-serif;
}
input,select,textarea{
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	border-radius:0;
}
a{
	color:#fff;
	text-decoration: none;
}
a:hover{
	text-decoration: none;	
}
a:focus{
	outline: none;
	border:none;
}
input {
	line-height: normal;
}
input:focus, select:focus, textarea:focus, button:focus {
	border:none;
	outline: 0;
}
input[type="checkbox"], input[type="radio"] {
	padding: 0;
	border: none;
}
button, input[type="button"], input[type="reset"], input[type="submit"], input[type="file"] {
	-webkit-appearance: none;
	cursor: pointer;
	line-height: normal;
	overflow: visible;
}
button[disabled], input[disabled] {
	cursor: default;
	color: #999;
	border-color: #ccc;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
    /*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (max-device-width:767px) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="tel"], input[type="url"]{ font-size: 16px; }

}
/*
 2.0.4) List Styles
 ---------------------------------*/
button{
	border:none;
	background: transparent;
}
/*
 2.0.9) Sprite Icons
 -------------------------*/
[class^="icon-"], [class*="icon-"] {
	background-image: url("../images/sprite.png");
	background-size: 400px 400px;
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 14px;
	line-height: 14px;
	width: 14px;
	font-size: 0;
}
/*global heading*/
h1{
	color:#fff;
	font-size: 1.8rem;
}
h2{
	font-size: 1.8rem;
}
h3{}
h4{}
h5{}
h6{}
/* Containers*/
.container {
    max-width: 1024px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
}
